<div class="container-fluid footer border-top">
        <div class="row pt-3">
            <div class="col text-center footer-brands">
                <div class="mb-2">
                    <a href="" class="mx-1"><i class="fa-brands fa-facebook"></i></a>
                    <a href="" class="mx-1"><i class="fa-brands fa-instagram "></i></a>
                    <a href="" class="mx-1"><i class="fa-brands fa-linkedin"></i></a>
               </div>
                <a href="" class="text-decoration-none text-dark">&copy; WanderLust Private Limited</a>
                <div class="mt-2">
                    <a href="" class="text-decoration-none text-dark">Privacy Terms</a>
                </div>
            </div>
        </div>
</div>